@import "../../../scss/main";


.HeaderText {
  flex: 1 0 40%;
  color: $mainColor;


  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: rem(55);
  }
  p {
    padding: 30px 0px 30px 0px;
    font-style: normal;
    font-weight: 400;
  }
}
.button {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 90px;
  background-color: $buttonColor;
  color: #FAFAFA;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.3em;
  border-radius: 8px;
  &:hover {
    transition: background-color 0.5s;
    background-color: $colorHover;
  }
}