@import "../../scss/main";

.Reviews {
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-radius:30px;
  background: rgb(219,7,131);
  position: relative;
  background: linear-gradient(144deg, rgba(219,7,131,1) 0%, rgba(148,5,147,1) 100%);

  h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(40);
    padding-bottom: 35px;
    color: #FFFFFF;
    text-align: center;

  }
  .ReviewsContent {
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ReviewsSlider {
    width: 100%;
    padding: 0px 10px;
  }
}
.Up {
  top: -60px;
  left: 50px;
  position: absolute;
}

.Down {
  right: 50px;
  bottom: -60px;
  position: absolute;
}