@import "../../../scss/main";
.CardTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: rem(565)){
    padding: 50px 0px 50px 0px;
  }
  .CardTeamImage {}

  .CardTeamText {
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(113, 74, 132, 0.4);
    border-radius: 8px;
    @media (max-width: rem(565)){
      width: 70%;
      margin-bottom: 30px;
    }
  }
  .CardTeamTextContent {
    text-align: center;
    padding: 10px 40px 10px 40px;
    h1 {
      display: inline;
      font-weight: 500;
      font-size: rem(25);
      color: $colorCardsTitle;
    }
    p {
      color: #707076;
    }
  }
}
