@import "../../scss/main";

.Care {
  background: rgb(219,7,131);
  background: linear-gradient(126deg, rgba(219,7,131,1) 0%, rgba(142,6,148,1) 100%);
  .CareContent {
    text-align: center;
    max-width: 1350px;
    margin: 0 auto;
    padding: 100px 10px 100px 10px;
    @media (max-width: rem(553)){
      padding: 50px 10px 30px 10px;

    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .CareImg {
    flex: 1 1 auto;
    @media (max-width: rem(553)){
      img {
        content-visibility: hidden;
      }
    }
  }
  .CareText {
    text-align: center;
    flex: 1 1 auto;
    .CareTextHeader {
      padding-bottom: 30px;
      font-weight: 500;
      font-size: rem(40);
      text-transform: uppercase;
      color: #fafafa;
    }
  }
  .CareCards {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }

}
