.Card{
  padding-top: 50px ;
  .rs-panel-header {
    padding: 35px 0px 35px 60px;
    color: #fafafa;
    border-radius: 10px;
    background: rgb(219,7,131);
    background: linear-gradient(144deg, rgba(219,7,131,1) 0%, rgba(148,5,147,1) 100%);
  }
  .rs-icon {
    font-size: 40px;
    color: #fafafa !important;
  }
  span {
    font-weight: 500;
    font-size: 20px;

  }
  .rs-panel-body {
    padding-top: 24px !important;
  }
  .answer {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
}